#{extends 'main.html' /}
#{set title:'Merge Metro Areas - Transit Data Dashboard Administration' /}

<div class="container">
    <div class="row">
        <div class="span6">
            <ul>
                #{list items:agenciesMultiAreas, as:'agency'}
                    <li><a href="#" class="agencyLink" id="link-${agency.id}">${agency.toString()}</a></li>
                #{/list}
            </ul>    
        </div>
		<div class="span6">
			#{list items:metros.keySet(), as:'agencyId' }
			<div class="agencyDetail hidden" id="agency-${agencyId}">
				<ul>
					#{list items:metros.get(agencyId), as:'metro'}
					<li>${metro.name}</li> #{/list}
				</ul>

				<div class="btn-group">
					<a href="mergeAllAreas?agency.id=${agencyId}"
						class="btn btn-danger">Merge all</a> <a
						href="splitToAreas?agency.id=${agencyId}" class="btn">Split to
						each</a> <a href="disableAgency?agency.id=${agencyId}" class="btn">Disable</a>
					</ul>
				</div>
			</div>
			#{/list}
		</div>
	</div>

<script type="text/javascript">
	$('.agencyLink').click(function(e) {
		e.preventDefault();
		var id = $(this).attr('id').split('-')[1];

		$('.agencyDetail').addClass('hidden');
		$('#agency-' + id).removeClass('hidden');
	});
</script>

