#{extends 'main.html' /}
#{set title:'Transit Data Dashboard Administration' /}

<h2>Items requiring review</h2>

<ul>
    <li><a href="feedsNoAgencies">Feeds with no agencies 
        <span class="badge badge-info">${feedsNoAgency}</span></a></li>
    <li><a href="agenciesMultiAreas">Agencies matching multiple metro areas 
        <span class="badge badge-info">${agenciesMultiAreas}</span></a></li>
    <li><a href="unmatchedPrivate">Unmatched private GTFS agencies 
        <span class="badge badge-info">${unmatchedPrivate}</span></a></li>
    <li><a href="removeUnreferencedStoredFeeds">Remove unreferenced stored feeds</li> 
</ul>
        
        
            

