*{
  This program is free software: you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public License
  as published by the Free Software Foundation, either version 3 of
  the License, or (props, at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with this program. If not, see <http://www.gnu.org/licenses/>. 
}*
#{extends 'main.html' /}
#{set title:'Remove unreferenced stored feeds' /}

<h2>The following stored feeds are unreferenced and can be removed</h2>

<div class="alert alert-error alert-block">
    <h4>Danger!</h4>
    If you have more than one feed storer defined in your application-context.xml, you may be deleting
    feeds from the wrong place. The feed storer you are using is: ${storerType}.
</div>

<ol>
    #{list items:notInDb, as:'id'}
        <li><code>${id}</code></li>
    #{/list}
</ol>

<form action="deleteStoredFeeds" method="POST">
    #{list items:notInDb, as:'id'}
        <input type="hidden" name="storedId" value="${id}" />
    #{/list}
    <input type="submit" value="Delete these stored feeds" class="btn btn-danger" />
</form>
